*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  height: 100%;
  width: 100%;
}
body{
    background-image: url("mini.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;  
    height: 100%;
 }

.logo{
    margin-right: 400px;
    cursor: pointer;
}
  
  
  
  #nav-bar {
    background-color: rgba(255, 255, 255, 0.973);
  height: 0px;
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 2%;
    position: absolute;
  }
  
  
  #nav-bar ul {
    list-style: none;
    display: flex;
  }
  
  #nav-bar ul li {
    padding: 5px 10px;
    position: relative;
  }
  
  #nav-bar ul li a {
    font-size: 13px;
    color: rgb(29, 21, 21);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
  }
  
  #nav-bar ul li a:hover {
    color: blue;
  }
  
  
  
  
  

  

#button-1{
margin: 4px 2px;
width: 250px;
height: 50px;
background-color: rgba(255, 4, 4, 0.589);
color: white;
border-radius: 2px;
border-color: rgba(4, 255, 255, 0);
text-decoration: none;
cursor: pointer;
padding: 15px 32px;
text-align: center;
}

button:hover{
    color: rgba(255, 0, 149, 0.137);
    color:rgb(78, 23, 141);
}

.button-2{
  margin: 4px 2px;
  width: 150px;
  height: 50px;
  background-color: rgba(255, 4, 4, 0.589);
  color: white;
  border-radius: 2px;
  border-color: rgba(255, 4, 4, 0.021);
  text-decoration: none;
cursor: pointer;
padding: 15px 32px;
text-align: center;
}

.button-3{
  margin: 4px 2px;
    width: 150px;
    height: 50px;
    background-color: rgba(255, 4, 4, 0);
    color: black;
    border-radius: 2px;
    border-color: rgba(4, 121, 255, 0.192);
    text-decoration: none;
cursor: pointer;
padding: 15px 32px;
text-align: center;
}

.lorem{
  margin:200px;
  margin-right: 600px;
  display: inline-block;
padding: 20px;

  }

  h3{
    color: red;
    font-weight: 400;
  }

h1{
  color: blue;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
}

p{
  color: rgb(63, 56, 56);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#button-2{
  float: left;
  width: 23.33%;
}
#button-3{
  float: right;
  width:23.33%;
}

footer{
  background-color: rgba(255, 255, 255, 0.973);
  height: 300px;
    width: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 20%;
    position: absolute;
}

#footer1{
font-weight: bold;
font-size: 20px;

float: left;
}

#footer2{

  font-weight: bolder;
  font-size: 30px;
float: right ;

font-family: 'Courier New', Courier, monospace;
}

